---
import { astroI18n, t } from "astro-i18n";
import dkmsScreenshot from "../assets/projects/dkms.png";
import dkmsDarkScreenshot from "../assets/projects/dkms-dark.png";
import wordificationScreenshot from "../assets/projects/wordification.png";
import wordificationDarkScreenshot from "../assets/projects/wordification-dark.png";
import { Image } from "astro:assets";

import HeroLayout from "../layouts/HeroLayout.astro";

astroI18n.init(Astro);

const PROJECTS = [
  {
    title: t("sections.projects.wordification.title"),
    screenshot: wordificationScreenshot,
    darkScreenshot: wordificationDarkScreenshot,
    alt: t("sections.projects.wordification.alt"),
    description: t("sections.projects.wordification.description"),
  },
  {
    title: t("sections.projects.dkms.title"),
    screenshot: dkmsScreenshot,
    darkScreenshot: dkmsDarkScreenshot,
    alt: t("sections.projects.dkms.alt"),
    description: t("sections.projects.dkms.description"),
  },
];
---

<HeroLayout title="Dalton Craven | Home">
  <section id="about">
    <h2 class="font-bold text-3xl text-[#E56106] dark:text-orange-300">
      {t("sections.about.header")}
    </h2>
    <p set:html={t("sections.about.content")} />
  </section>

  <section id="journey">
    <h2 class="font-bold text-3xl text-[#E56106] dark:text-orange-300">
      {t("sections.journey.header")}
    </h2>
    <p class="pb-2" set:html={t("sections.journey.content1")} />
    <p class="pb-2" set:html={t("sections.journey.content2")} />
    <p set:html={t("sections.journey.content3")} />
  </section>

  <section id="projects">
    <h2 class="font-bold text-3xl text-[#E56106] dark:text-orange-300">
      {t("sections.projects.header")}
    </h2>
    <ul class="grid md:grid-cols-2 gap-4 md:gap-12 pt-2">
      {
        PROJECTS.map((project) => (
          <li
            class:list={[
              "rounded-lg transition shadow-md border",
              "flex flex-col",
              "bg-orange-50",
              "dark:bg-stone-800 dark:border-stone-700",
              // "hover:shadow-orange-300 hover:border-[#E56106]",
            ]}
          >
            <h3
              class="p-5 pb-0 text-stone-900 font-bold text-2xl tracking-tight mb-2 dark:text-stone-50"
              set:html={project.title}
            />
            <picture class="order-first">
              <source
                srcset={project.darkScreenshot.src}
                media="(prefers-color-scheme: dark)"
              />
              <Image
                src={project.screenshot}
                alt={project.alt}
                class="rounded-t-lg"
              />
            </picture>
            <p
              class="font-normal text-stone-700 mb-3 dark:text-stone-100 px-5"
              set:html={project.description}
            />
          </li>
        ))
      }
    </ul>
  </section>

  <section id="skills">
    <h2 class="font-bold text-3xl text-[#E56106] dark:text-orange-300">
      {t("sections.skills.header")}
    </h2>
    <ul class="list-disc list-inside">
      <li set:html={t("sections.skills.spokenLanguages")} />
      <li set:html={t("sections.skills.techLanguages")} />
      <li set:html={t("sections.skills.frameworks")} />
      {/* <li set:html={t("sections.skills.certifications")} /> */}
    </ul>
  </section>

  <section id="contact">
    <h2 class="font-bold text-3xl text-[#E56106] dark:text-orange-300">
      {t("sections.contact.header")}
    </h2>
    <ul class="list-disc list-inside">
      <li set:html={t("sections.contact.americanPhone")} />
      <li set:html={t("sections.contact.email")} />
      <li set:html={t("sections.contact.github")} />
      <li set:html={t("sections.contact.gitlab")} />
      <li set:html={t("sections.contact.linkedin")} />
      <li set:html={t("sections.contact.gpg")} />
    </ul>
  </section>
</HeroLayout>
